/*rockPS CSS*/
.gameWrap {width:50%; height:100vh; margin:100px auto; position:relative;}
.score {overflow:hidden; text-align: center; font-size:30px; font-weight:bold;}
.score p {margin-top:10px;}
.playerScore {float:left;}
.computerScore {float:right;}
.intro {display:flex; flex-direction: column; align-items:center; transition:opacity 0.5s ease;}
.intro h2 {margin-top:100px; font-size:50px; font-weight:bold;}
.intro p {margin-top:30px; line-height:20px; text-align: center;}
.intro button {width:100px; height:50px; margin-top:100px; color:#ffff; background-color: rgb(255, 0, 0); border:none; cursor: pointer;}
.match {width:100%; position:absolute; top:25%; left:50%; transform:translate(-50%,-50%); transition:opacity 0.5s ease 0.5s;}
.match .winner {font-size:30px; font-weight:bold; text-align:center;}
.hands {padding:40px 0 0px;}
.hands .playerHand {position:relative; transform:rotateY(180deg)}
.hands .computerHand {position:absolute; right:0px;}
.match img {width:15%; opacity:0.8;}
.options {padding-top:50px; text-align:center; position:absolute; left:50%; transform:translateX(-50%);}
.options button {width:100px; height:50px; margin-top:100px; color:#ffff; background-color: rgb(255, 0, 0); border:none; cursor: pointer;}
.options p {margin-top:20px;}
.stair {overflow:hidden;}
.step {float:left; width:12%; height:100px; margin:297px 0.5% 0 0; position:relative;}
.char {position:absolute; bottom:20%;}
.char img {width:40%;  opacity:0;}
.char .cNow {opacity:1;}
.char .pNow {opacity:1;}
.char .playerChar {margin:0 0 3.5% 10%;}
.block {width:100%; background-color:#474747; position:absolute; bottom:0;}
.pColor {background-color:#ff848F;}
.cColor {background-color:#caaffe;}
.nColor {background-color:#474747;}
.b0 {height:20px; background-color:#474747;}
.b1 {height:40px;}
.b2 {height:60px;}
.b3 {height:80px;}
.b4 {height:100px;}
.b5 {height:120px;}
.b6 {height:140px;}
.b7 {height:300px;}
.c1 {position:absolute; bottom:40%;}
.c2 {position:absolute; bottom:60%;}
.c3 {position:absolute; bottom:80%;}
.c4 {position:absolute; bottom:100%;}
.c5 {position:absolute; bottom:120%;}
.c6 {position:absolute; bottom:140%;}
.c7 {position:absolute; bottom:300%;}
div.fadeOut {opacity: 0; pointer-events:none;}
div.fadeIn {opacity: 1; pointer-events:all;}
@keyframes shakePlayer { 
    0%{
        transform:rotateY(180deg) translateY(0px);
    }
    16%{
        transform:rotateY(180deg) translateY(-50px);
    }
    32%{
        transform:rotateY(180deg) translateY(0px);
    }
    48%{
        transform:rotateY(180deg) translateY(-50px);
    }
    64%{
        transform:rotateY(180deg) translateY(0px);
    }
    80%{
        transform:rotateY(180deg) translateY(-50px);
    }
    100%{
        transform:rotateY(180deg) translateY(0px);
    }
    

}

@keyframes shakeComputer{
    0%{
        transform:translateY(0px);
    }
    16%{
        transform:translateY(-50px);
    }
    32%{
        transform:translateY(0px);
    }
    48%{
        transform:translateY(-50px);
    }
    64%{
        transform:translateY(0px);
    }
    80%{
        transform:translateY(-50px);
    }
    100%{
        transform:translateY(0px);
    }
}