<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>portfolio</title>
  	
  	<!-- FONTS -->
	<!-- CSS -->	
	<link href="/portfolio/resources/css/reset.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/common_pf.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/aos.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/contents_pf.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/card.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/rockPS.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/winwheel.css" rel="stylesheet"/>
	<!-- JS -->
	<script type="text/javascript" src="/portfolio/resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="/portfolio/resources/js/Winwheel.js" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<script type="text/javascript" src="/portfolio/resources/js/aos.js" ></script>	

	
</head>
<body>
	<div id="divView" style="position:absolute; display:none; background-color:#ffffff; border:solid 2px #d0d0d0; width:150px; height:50px; padding: 5px 15px 0;"></div>

		<div id="top">
			<div id="ham">
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</div>
			<div id="clientMenuWrap_pf">
				<ul class="menu">
					<li><a href="/portfolio/index.pf">홈</a></li>
					<li><a href="/portfolio/game/home.pf">게임</a></li>
					<li><a href="/portfolio/project/tmEx.pf">프로젝트</a></li>
					<li><a href="/portfolio/profile/team.pf">프로필</a></li>
					<li><a href="/portfolio/mem/index.pf">트래블메이커</a></li>
				</ul>
			</div>
			<div id="mCover"></div>
			<a href="/portfolio/index.pf"><p id="logo"></p></a>
			<!--
			<div id="sign">
				<c:if test="${sessionScope.memId == null}">
					<a href="/portfolio/join.pf"><p class="btnSign">회원가입</p></a>
					<a href="/portfolio/login.pf"><p class="btnSign">로그인</p></a>
				</c:if>
				<c:if test="${sessionScope.memId != null}">
					<p class="txtSign">환영합니다! <strong>${sessionScope.memId}</strong>님</p>
					<a href="/portfolio/logout.pf"><p class="btnSign">로그아웃</p></a>
				</c:if>
			</div>
			-->
		</div>
		
		<script>
			var didScroll;
			var lastScrollTop = 0;
			var delta = 5;
			var navbarHeight = $('#top').outerHeight();
			
			$(window).scroll(function(event){
				didScroll = true;
			});
			
			setInterval(function() {
				if (didScroll) {
					hasScrolled();
					didScroll = false;
				}
			}, 250);
			function hasScrolled() {
				var st = $(this).scrollTop();
				if(Math.abs(lastScrollTop - st) <= delta)
					return;
				if(st > lastScrollTop && st > navbarHeight){
					$('#top').removeClass('nav-down').addClass('nav-up');
				}else {
					if(st + $(window).height() < $(document).height()) {
						$('#top').removeClass('nav-up').addClass('nav-down');
					}
				}
				lastScrollTop = st;
			}
			
			$("#ham").click(function(){
				$(this).toggleClass("active");
				$('#logo').fadeToggle();
				$('#sign').fadeToggle();
				$('#clientMenuWrap_pf').fadeToggle();
				$('#mCover').fadeToggle();
			});
			var nowUrl = window.location.pathname;
			if(nowUrl == "/portfolio/index.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(0).addClass('on');
			}else if(nowUrl == "/portfolio/game/home.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/1to50.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/card.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/lottery.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/numUpDown.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/purchase.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/randomPick.pf"){ 	
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');		
			}else if(nowUrl == "/portfolio/game/rockPS.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/project/tmEx.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(2).addClass('on');
			}else if(nowUrl == "/portfolio/profile/team.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/lsm.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/jbr.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/lsh.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/hys.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/mem/index.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(4).addClass('on');
			}
		</script>
		
		<div id="transcroller-body" class="wrapAll wrapAll2 client">      
			<div class="portfolioMode indexMode">
					
				<div class="portRight">
					<div class="pic pic1">
						<img src="/portfolio/resources/images/pf/pf1.jpg" />
					</div>
					<div class="pic pic2">
						<img src="/portfolio/resources/images/pf/pf2.jpg" />
					</div>
					<div class="pic pic3">
						<img src="/portfolio/resources/images/pf/pf3.jpg" />
					</div>
					<div class="pic pic4">
						<img src="/portfolio/resources/images/pf/pf4.jpg" />
					</div>
					<div class="pic pic4">
						<img src="/portfolio/resources/images/pf/pf5.jpg" />
					</div>
				</div>
				<!--portRight End-->
				
				<div class="mainConts">
					<div class="titWrap">
						<!-- <p class="txt3" data-aos="fade-left" data-aos-duration="900" id="test1">
							우리는 창의적이고 <br/>
							실용적인 코드를 만들기 위해<br/>
							노력하고 있습니다
						</p> -->
					</div>		

					<div class="titWrap index">
						<p class="tit" data-aos="fade-up" data-aos-duration="900">We are FILO.</p>
						<p class="sub" data-aos="fade-up" data-aos-duration="900">
							저희가 궁금하신가요? <br/>
							프로필을 확인해보세요 :)
						</p>
						<p class="txt" data-aos="fade-up" data-aos-duration="900">
							글로벌한 소재 소싱, 안정된 생산시스템을<br/>
							통해 고객사를 만족시키고, 기업의 가치와 작업능률을<br/>
							높여줄 최고의 워크웨어를 제안합니다.
						</p>
					</div>

					<div class="titWrap index" id="test2">
						<p class="tit" data-aos="fade-up" data-aos-duration="900">게임과<br/>포트폴리오를 <br/>합친 페이지</p>
						<p class="sub" data-aos="fade-up" data-aos-duration="900">
							게임에서 얻은 포인트를 통해<br/>
							다른 프로젝트에서 사용할 수 있습니다. <br/>
							출석체크, 룰렛, 복권, 가위바위보 등을 통해 <br/>
							포인트를 얻고 트레블 메이커에서 사용해보세요.
						</p>
						<p class="sub" data-aos="fade-up" data-aos-duration="900">
							글로벌한 소재 소싱, 안정된 생산시스템을<br/>
							통해 고객사를 만족시키고, 기업의 가치와 작업능률을<br/>
							높여줄 최고의 워크웨어를 제안합니다.
						</p>
					</div>

					<div class="titWrap index" id="test3">
						<p class="tit" data-aos="fade-up" data-aos-duration="900">자신만의<br/>여행을 만드는 서비스<br/>트레블 메이커!</p>
						<p class="sub" data-aos="fade-up" data-aos-duration="900">
							트레블 메이커는 스스로 만들어가는 여행 동행 플랫폼입니다.<br/>
							관심있는 포지션을 선택하고 여행에 참여해보세요!<br/>
							다양한 작업환경과 기후에 맞는 소재, 착용자의<br/>
							편안함과 안전성을 위한 패턴을 제공합니다.
						</p>
						<p class="sub" data-aos="fade-up" data-aos-duration="900">
							글로벌한 소재 소싱, 안정된 생산시스템을<br/>
							통해 고객사를 만족시키고, 기업의 가치와 작업능률을<br/>
							높여줄 최고의 워크웨어를 제안합니다.
						</p>
					</div>					

				</div>
				
			</div>
			<!-- //portfolioMode end -->
			
			<div class="gameMode indexMode">
				
				<h1>게임 모드</h1>
				<button class="modeBtn">모드변경</button>
				
			</div>
			<!-- //gameMode end -->
			
			<script>
				$('.modeBtn').click(function(){
					$('.indexMode').fadeToggle(200);
					$('#top').toggleClass('black');
				});
			</script>
			
		</div>
		<!-- //wrapAll end -->
		<script>
			var didScroll1;
			$(window).scroll(function(event){
				didScroll1 = true;
				console.log('인식중');
			});
			setInterval(function() {
				if (didScroll1) {
					hasScrolled1();
					didScroll1 = false;
				}
			}, 250);
			function hasScrolled1() {
				var st = $(this).scrollTop();
				console.log(st);
				if(st < 970){
					$('.pic').removeClass('picIn1').addClass('picIn5');
					$('.pic').removeClass('picIn2').addClass('picIn5');
					$('.pic').removeClass('picIn3').addClass('picIn5');
					$('.pic').removeClass('picIn4').addClass('picIn5');
					$('.pic1').addClass('picIn1');
				}else if(st >= 970 && st < 1070){
					console.log('2번째 구간');
					
					$('.pic1').
					
					$('.pic2').

				}else if(st >= 1070 && st < 1170){
					console.log('2번째 구간');
					$('.pic').removeClass('picIn1').addClass('picOut');
					$('.pic2').addClass('picIn1');
				}else if(st >= 1170 && st < 1270){
					console.log('3번째 구간');
					$('.pic').removeClass('picIn1').addClass('picOut');
					$('.pic1').addClass('picIn1');
				}
			}

			$('.portNav').children('li').click(function(){
				$('.portNav').children('li').removeClass('on');
				$(this).addClass('on');
			});
			

		</script>
		<ul class="footer">
		<li>
		   <ul class="icon">
			  <li></li>
			  <li></li>
			  <li></li>
		   </ul>
		   <div class="info">
		   	  <p class="sub">Meindexer</p>
			  <p>이승민 조윤호 정보름 이승헌 허윤서</p>
			  <p>서울시 관악구 남부순환로 1820,에그엘로우14층</p>
		   </div>
		</li>
		<li class="middle">
		   <p class="sub">Service Center</p>
		   <p class="ph">1577-1577</p>
		</li>
		<li>
		   <select class="sel_portfolio">
			  <!-- <option defaultValue="Family Site">Family Site</option>
			  <option value="포폴1">GITHUB</option>
			  <option value="포폴2">Americano</option> -->
		   </select>
		</li>
		<li>
		   <p>ⓒ 2021 Travel Maker Co., Ltd. All Rights Reserved.</p>
		</li>
	</ul>
	<!-- //footer end -->
	
	<div id="divView" style="position:absolute; display:none; background-color:#ffffff; border:solid 2px #d0d0d0; width:150px; height:50px; padding: 5px 15px 0;"></div>
	<script>
	$('.clickMenu').click(function(e) {
		var divTop = e.pageY - 40; //상단 좌표 위치 안맞을시 e.pageY
		var divLeft = e.pageX; //좌측 좌표 위치 안맞을시 e.pageX
		var serial = $(this).attr("serial");
		var idx = $(this).attr("idx");
		var userId = $('.clickId').val();
		console.log(userId);
		$('#divView').empty().append('<div style="position:absolute;top:5px;right:5px"><span id="close" style="cursor:pointer;font-size:1.5em" title="닫기">x</span> </div><a href="/travelMaker/mem/userHistory.tm?userId='+userId+'">이력보기</a><br/><a href="/travelMaker/msg/messageWrite.tm?receiver='+userId+'">쪽지 보내기</a>');
		$('#divView').css({
			"top": divTop,
			"left": divLeft,
			"position": "absolute",
			"z-index" : "996"
		}).show();
		$('#close').click(function(){document.getElementById('divView').style.display='none'});
	});
	
	AOS.init({
	  easing: 'ease-in-out-sine'
	});
	</script>

</body>
</html>