<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <style>
        .dddd {width: 100px; height: 100px; background: #000;}
    </style>    
</head>
<body>
    <button id="btn11">헿헤ㅔ헤헤헤</button>
    <div class="dddd">
        
    </div>
    <script>
        $('#btn11').click(function(){
            $('.dddd').fadeOut();
        });
    </script>
</body>
</html>