@charset "UTF-8";
/*common_pf.css*/
html {
    scroll-behavior: smooth;
}
/*SCROLLBAR IE*/
* {scrollbar-arrow-color:#9D9992; scrollbar-3dlight-color:#D4D0C8; scrollbar-darkshadow-color:#D4D0C8; scrollbar-face-color:#FFFFFF; scrollbar-hightlight-color:#FFFFFF; scrollbar-shadow-color:#FFFFFF; scrollbar-track-color:#EAE7E1;}

/*SCROLLBAR Chrome, Safari*/
::-webkit-scrollbar {width: 5px; border: 3px solid #ddd; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

/*layout*/
/*wrapAll*/
.wrapAll {overflow: hidden; width: 100%; height: auto; min-height: 550px;}
.wrapAll.client {padding: 80px 0 0;}
.wrapAll.admin {padding: 80px 80px 80px 330px;}

/*top_index*/
/*logo*/
#logo {line-height: 24px; color: #444; font-size: 23px; font-weight: 600; position: fixed;top: 28px;left: 30px; z-index:997;}

/*sign*/
#sign {position: fixed;top: 28px;right: 110px; z-index:997;}
#sign a {line-height: 24px; color: #000; font-size: 16px; font-weight: 400; margin-left: 15px;}

/*ham*/
#ham {
    position: absolute;
    top: 27px; right: 35px;
    width: 36px; height: 26px;
    cursor:pointer;
    z-index: 999;
}
#ham span {
    display: block;
    background: #444;
    width: 36px;
    height: 4px;
    border-radius: 3px;
    transition: margin 0.25s 0.25s, transform 0.25s ;
}
#ham .bar1 {margin-bottom: 6px;}
#ham .bar3 {margin-top: 6px;}

#ham.active span {
    transition: margin 0.25s, transform 0.25s 0.25s;
}

#ham.active .bar1 {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
}
#ham.active .bar2 {
    transform: rotate(45deg);        
}
#ham.active .bar3 {
    margin-top: -4px;
    transform: rotate(135deg);
}


/*top*/
#top {width: 100%; height:80px; background: #fff; border-bottom: 1px solid #eee; transition: .3s; position: fixed;top: 0;left: 0; z-index:999;}
#top.nav-up {top: -80px;}
#top.nav-down {top: 0;}
#top #logo {width:93px; height:34px; background: url(../images/pf/logo.png)no-repeat center; background-size: 100% auto; position: absolute;top: 23px;left: 30px; z-index:997;}
#top #sign {overflow:hidden; position: absolute;top: 24px;right: 110px; z-index:997;}
#top #sign .btnSign {float:left; background:#ccc; border-radius:3px; color:#fff; font-size: 13px; font-weight: 500; transition:.3s; padding:4px 12px; margin: 0 0 0 5px;}
#top #sign .btnSign:hover {background:#ff0000;}
#top #sign .txtSign {float:left; line-height:32px; font-size: 16px; font-weight: 400; margin: 0 30px 0 0;}

/*top Black ver*/
#top.black {width: 100%; height:80px; background: #000; border-bottom: 1px solid #111; transition: .3s; position: fixed;top: 0;left: 0; z-index:999;}

/*clientMenu*/
#clientMenuWrap_pf {display: none; width: 350px; height: 100vh; background: #fff; position: fixed;top: 0;right: 0; z-index:998;}
#clientMenuWrap_pf .menu {margin: 80px 0;}
#clientMenuWrap_pf .menu li {height: 50px;}
#clientMenuWrap_pf .menu li a {display: block; width: 100%; height: 100%; line-height: 50px; text-indent: 30px; color: #000; font-size: 21px; transition:.3s;}
#clientMenuWrap_pf .menu li.on a {background: #ff0000; color: #fff;}
#clientMenuWrap_pf .menu li a:hover {background: #ff0000; color: #fff;}

/*mCover*/
#mCover {
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0; left: 0;
    z-index: 997;
}

/*footer*/
.footer {overflow:hidden; width: 100%; height:300px; background: #fff; border-top: 1px solid #eee; padding:56px 70px; }
.footer > li {float:left; width: 33.33%;}
.footer > li:nth-child(1) {width: 33.34%; font-size:12px;}
.footer > li:nth-child(2) {padding-left: 150px;}
.footer > li:nth-child(4) {width: 100%; font-size: 12px; line-height: 2; font-weight:600;}

.footer .icon {display: none; overflow: hidden;}
.footer .icon li {float:left;  width: 24px; height: 24px;  background: #000; margin-right: 25px;}
/* .footer .icon li:nth-child(1) {background: url(/resources/images/tm/ic-insta.svg)no-repeat;}
.footer .icon li:nth-child(2) {background: url(/resources/images/tm/ic-youtube.svg)no-repeat;}
.footer .icon li:nth-child(3) {background: url(/resources/images/tm/ic-blog.svg)no-repeat;} */
.footer .info {margin: 0 0 35px;}
.footer .info p {line-height: 1.67; font-weight: 500;}
.footer .sub {font-size:14px; line-height: 1.7; font-weight: 500;}
.footer .ph {font-size:24px; letter-spacing: 3px; ; font-weight:600; line-height: 1.5;}

.footer .sel_portfolio {float:right; width: 220px; height: 45px; font-size: 14px; font-weight: 500px; border: 0; border-bottom: 1px solid #e8e8e8; }
.footer .sel_portfolio:focus { outline: 0; border-bottom: 1px solid #e8e8e8;}

/* Bounce To Right */
.bounce-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.bounce-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff3f02;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.bounce-to-right:hover, .bounce-to-right:focus, .bounce-to-right:active {
    color: white;
}
.bounce-to-right:hover:before, .bounce-to-right:focus:before, .bounce-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* Bounce To Left */
.bounce-to-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .bounce-to-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff3f02;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .bounce-to-left:hover, .bounce-to-left:focus, .bounce-to-left:active {
    color: white;
  }
  .bounce-to-left:hover:before, .bounce-to-left:focus:before, .bounce-to-left:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }