<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>main profile</title>
  	
  	<!-- FONTS -->
	<!-- CSS -->	
	<link href="/portfolio/resources/css/reset.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/common_pf.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/aos.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/contents_pf.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/card.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/rockPS.css" rel="stylesheet"/>
	<link href="/portfolio/resources/css/winwheel.css" rel="stylesheet"/>
	<!-- JS -->
	<script type="text/javascript" src="/portfolio/resources/js/jquery.min.js"></script>
	<script type="text/javascript" src="/portfolio/resources/js/Winwheel.js" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<script type="text/javascript" src="/portfolio/resources/js/aos.js" ></script>	

	
</head>
<body>
	<div id="divView" style="position:absolute; display:none; background-color:#ffffff; border:solid 2px #d0d0d0; width:150px; height:50px; padding: 5px 15px 0;"></div>

		<div id="top">
			<div id="ham">
				<span class="bar1"></span>
				<span class="bar2"></span>
				<span class="bar3"></span>
			</div>
			<div id="clientMenuWrap_pf">
				<ul class="menu">
					<li><a href="/portfolio/index.pf">홈</a></li>
					<li><a href="/portfolio/game/home.pf">게임</a></li>
					<li><a href="/portfolio/project/tmEx.pf">프로젝트</a></li>
					<li><a href="/portfolio/profile/team.pf">프로필</a></li>
					<li><a href="/portfolio/mem/index.pf">트래블메이커</a></li>
				</ul>
			</div>
			<div id="mCover"></div>
			<a href="/portfolio/index.pf"><p id="logo"></p></a>
			<!--
			<div id="sign">
				<c:if test="${sessionScope.memId == null}">
					<a href="/portfolio/join.pf"><p class="btnSign">회원가입</p></a>
					<a href="/portfolio/login.pf"><p class="btnSign">로그인</p></a>
				</c:if>
				<c:if test="${sessionScope.memId != null}">
					<p class="txtSign">환영합니다! <strong>${sessionScope.memId}</strong>님</p>
					<a href="/portfolio/logout.pf"><p class="btnSign">로그아웃</p></a>
				</c:if>
			</div>
			-->
		</div>
		
		<script>
			var didScroll;
			var lastScrollTop = 0;
			var delta = 5;
			var navbarHeight = $('#top').outerHeight();
			
			$(window).scroll(function(event){
				didScroll = true;
			});
			
			setInterval(function() {
				if (didScroll) {
					hasScrolled();
					didScroll = false;
				}
			}, 250);
			function hasScrolled() {
				var st = $(this).scrollTop();
				if(Math.abs(lastScrollTop - st) <= delta)
					return;
				if(st > lastScrollTop && st > navbarHeight){
					$('#top').removeClass('nav-down').addClass('nav-up');
				}else {
					if(st + $(window).height() < $(document).height()) {
						$('#top').removeClass('nav-up').addClass('nav-down');
					}
				}
				lastScrollTop = st;
			}
			
			$("#ham").click(function(){
				$(this).toggleClass("active");
				$('#logo').fadeToggle();
				$('#sign').fadeToggle();
				$('#clientMenuWrap_pf').fadeToggle();
				$('#mCover').fadeToggle();
			});
			var nowUrl = window.location.pathname;
			if(nowUrl == "/portfolio/index.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(0).addClass('on');
			}else if(nowUrl == "/portfolio/game/home.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/1to50.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/card.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/lottery.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/numUpDown.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');	
			}else if(nowUrl == "/portfolio/game/purchase.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/game/randomPick.pf"){ 	
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');		
			}else if(nowUrl == "/portfolio/game/rockPS.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(1).addClass('on');
			}else if(nowUrl == "/portfolio/project/tmEx.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(2).addClass('on');
			}else if(nowUrl == "/portfolio/profile/team.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/lsm.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/jbr.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/lsh.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/profile/hys.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(3).addClass('on');
			}else if(nowUrl == "/portfolio/mem/index.pf"){
				$('#clientMenuWrap_pf').children('.menu').children('li').eq(4).addClass('on');
			}
		</script>
		
		<div id="transcroller-body" class="wrapAll client">      
			<div class="portfolioMode indexMode">
                <div class="meetWrap">
                    <div class="titWrap w1200">
                        <p class="tit" data-aos="fade-down" data-aos-duration="600">Meet the Team</p>
                        <p class="sub" data-aos="fade-right" data-aos-delay="400" data-aos-duration="600">어서오세요!<br/>TEAM FILO를 소개합니다</p>
                        <p class="txt" data-aos="fade-right" data-aos-delay="600" data-aos-duration="600">인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                            항상 깊이 생각하고 발 빠르게 행하는 개발자가 되겠습니다. </p>
                    </div>
                    <!--//txtWrarp End-->    
                    <div class="meetCont w1200">
                        <ul class="meetContLeft">
                            <li data-aos="fade-up" data-aos-delay="600" data-aos-duration="600">
                                <p class="caption">BACK-END DEVELOPER <span>LeeSeungMin</span></p>
								<div class="imgWrap">
									<div class="bg">
										<a href="lsh.html">	</a>
										<p class="name">Lee<br/>Seung<br/>Min</p>
										<div class="card">
											<p class="email">vic_sm@naver.com</p>
											<p class="ph">010-5909-5650</p>
										</div>
									</div>
                                	<img src="/portfolio/resources/images/pf/pf2.jpg"/>
								</div>		

                                <div class="value">
                                    <p class="sub">인생은 행동이다!</p>
                                    <p class="exp">
                                        인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                                        항상 깊이 생각하고 발빠르게 행하는 개발자가 되겠습니다.
                                    </p>
                                </div>    
                            </li>
                            <!--///여기!!-->
                            <li data-aos="fade-up"  data-aos-duration="900">
                                <p class="caption">BACK-END DEVELOPER <span>LeeSeungMin</span></p>
								<div class="imgWrap">
									<div class="bg">
										<a href="lsh.html">	</a>
										<p class="name">Lee<br/>Seung<br/>Heon</p>
										<div class="card">
											<p class="email">vic_sm@naver.com</p>
											<p class="ph">010-5909-5650</p>
										</div>
									</div>
                                	<img src="/portfolio/resources/images/pf/pf4.jpg"/>
								</div>	

                                <div class="value">
                                    <p class="sub">4인생은 행동이다!</p>
                                    <p class="exp">
                                        인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                                        항상 깊이 생각하고 발빠르게 행하는 개발자가 되겠습니다.
                                    </p>
                                </div> 
                            </li>
                            
                        </ul>
                        <!--imgWrapLeft End-->
                        <ul class="meetContRight">
                            <li data-aos="fade-up" data-aos-delay="800" data-aos-duration="600">
                                <div class="imgWrap">
									<div class="bg">
										<a href="lsh.html">	</a>
										<p class="name">Team</p>
									</div>
                                	<img src="/portfolio/resources/images/pf/pf1.jpg"/>
								</div>		
                                <div class="value">
                                    <p class="sub">팀 프로필</p>
                                    <p class="exp">
                                        인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                                        항상 깊이 생각하고 발빠르게 행하는 개발자가 되겠습니다.
                                    </p>
                                </div> 
                            </li>

                            <li data-aos="fade-up" data-aos-duration="600">
                                <p class="caption">BACK-END DEVELOPER <span>LeeSeungMin</span></p>
                                <div class="imgWrap">
									<div class="bg">
										<a href="lsh.html">	</a>
										<p class="name">Jeong<br/>Bo<br/>RAM</p>
										<div class="card">
											<p class="email">vic_sm@naver.com</p>
											<p class="ph">010-5909-5650</p>
										</div>
									</div>
                                	<img src="/portfolio/resources/images/pf/pf3.jpg"/>
								</div>	

                                <div class="value">
                                    <p class="sub">3인생은 행동이다!</p>
                                    <p class="exp">
                                        인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                                        항상 깊이 생각하고 발빠르게 행하는 개발자가 되겠습니다.
                                    </p>
                                </div> 
                            </li>

                            <li data-aos="fade-up" data-aos-duration="600">
                                <p class="caption">BACK-END DEVELOPER <span>LeeSeungMin</span></p>
								<div class="imgWrap">
									<div class="bg">
										<a href="lsh.html">	</a>
										<p class="name">Huh<br/>Yeun<br/>Seo</p>
										<div class="card">
											<p class="email">vic_sm@naver.com</p>
											<p class="ph">010-5909-5650</p>
										</div>
									</div>
                                	<img src="/portfolio/resources/images/pf/pf5.jpg"/>
								</div>	
                                <div class="value">
                                    <p class="sub">5인생은 행동이다!</p>
                                    <p class="exp">
                                        인생은 말보다 행동으로 보여주는 것이 먼저라고 생각합니다.<br/>
                                        항상 깊이 생각하고 발빠르게 행하는 개발자가 되겠습니다.
                                    </p>
                                </div> 
                            </li>
                        </ul>
                        <!--imgWrapRight End-->
                    </div>
                    <!--//imgWrap End-->
                </div>
                <!--//meetWrap End-->


                
            </div>
			<!-- //portfolioMode end -->
            
			<script>
				$('.modeBtn').click(function(){
					$('.indexMode').fadeToggle(200);
					$('#top').toggleClass('black');
				});
			</script>
			
		</div>
		<!-- //wrapAll end -->
		<script>
			var didScroll1;
			$(window).scroll(function(event){
				didScroll1 = true;
				console.log('인식중');
			});
			setInterval(function() {
				if (didScroll1) {
					hasScrolled1();
					didScroll1 = false;
				}
			}, 250);
			function hasScrolled1() {
				var st = $(this).scrollTop();
				console.log(st);
				if(st < 800){
					$('.pic').removeClass('picIn').addClass('picOut');
					$('.pic1').addClass('picIn');
				}else if(st >= 800 && st < 1800){
					console.log('2번째 구간');
					$('.pic').removeClass('picIn').addClass('picOut');
					$('.pic2').addClass('picIn');
				}else if(st >= 1800 && st < 2800){
					console.log('3번째 구간');
					$('.pic').removeClass('picIn').addClass('picOut');
					$('.pic1').addClass('picIn');
				}else if(st >= 2800 && st < 3800){
					console.log('4번째 구간');
					$('.pic').removeClass('picIn').addClass('picOut');
					$('.pic2').addClass('picIn');
				}else if(st >= 3800){
					console.log('5번째 구간');
					$('.pic').removeClass('picIn').addClass('picOut');
					$('.pic1').addClass('picIn');
				}
			}

			$('.portNav').children('li').click(function(){
				$('.portNav').children('li').removeClass('on');
				$(this).addClass('on');
			});
			

		</script>
		<ul class="footer">
		<li>
		   <ul class="icon">
			  <li></li>
			  <li></li>
			  <li></li>
		   </ul>
		   <div class="info">
		   	  <p class="sub">Member</p>
			  <p>이승민 조윤호 정보름 이승헌 허윤서</p>
			  <p>서울시 관악구 남부순환로 1820,에그엘로우14층</p>
		   </div>
		</li>
		<li class="middle">
		   <p class="sub">Service Center</p>
		   <p class="ph">1577-1577</p>
		</li>
		<li>
		   <select class="sel_portfolio">
			  <!-- <option defaultValue="Family Site">Family Site</option>
			  <option value="포폴1">GITHUB</option>
			  <option value="포폴2">Americano</option> -->
		   </select>
		</li>
		<li>
		   <p>ⓒ 2021 Travel Maker Co., Ltd. All Rights Reserved.</p>
		</li>
	</ul>
	<!-- //footer end -->
	
	<div id="divView" style="position:absolute; display:none; background-color:#ffffff; border:solid 2px #d0d0d0; width:150px; height:50px; padding: 5px 15px 0;"></div>
	<script>
	$('.clickMenu').click(function(e) {
		var divTop = e.pageY - 40; //상단 좌표 위치 안맞을시 e.pageY
		var divLeft = e.pageX; //좌측 좌표 위치 안맞을시 e.pageX
		var serial = $(this).attr("serial");
		var idx = $(this).attr("idx");
		var userId = $('.clickId').val();
		console.log(userId);
		$('#divView').empty().append('<div style="position:absolute;top:5px;right:5px"><span id="close" style="cursor:pointer;font-size:1.5em" title="닫기">x</span> </div><a href="/travelMaker/mem/userHistory.tm?userId='+userId+'">이력보기</a><br/><a href="/travelMaker/msg/messageWrite.tm?receiver='+userId+'">쪽지 보내기</a>');
		$('#divView').css({
			"top": divTop,
			"left": divLeft,
			"position": "absolute",
			"z-index" : "996"
		}).show();
		$('#close').click(function(){document.getElementById('divView').style.display='none'});
	});
	
	AOS.init({
	  easing: 'ease-in-out-sine'
	});
	</script>

</body>
</html>